[D-BUS Service]
Name=com.canonical.Unity.Scope.Webhistory.Chromiumbookmarks
Exec=/usr/bin/python3 /usr/share/unity-scopes/scope-runner-dbus.py -s web/chromiumbookmarks.scope
