[D-BUS Service]
Name=com.canonical.Unity.Scope.Info.Calculator
Exec=/usr/bin/python3 /usr/share/unity-scopes/scope-runner-dbus.py -s info/calculator.scope
