[D-BUS Service]
Name=com.canonical.Unity.Scope.Webhistory.Firefoxbookmarks
Exec=/usr/bin/python3 /usr/share/unity-scopes/scope-runner-dbus.py -s web/firefoxbookmarks.scope
