[Desktop Entry]
Type=Application
Name=Indicator Messages
Exec=/usr/libexec/indicator-messages/indicator-messages-service
StartupNotify=false
Terminal=false
OnlyShowIn=Unity;
Hidden=true
