[Unit]
Description=Indicator Messages Service
PartOf=graphical-session.target
After=indicators-pre.target

[Service]
ExecStart=/usr/libexec/indicator-messages/indicator-messages-service
Restart=on-failure
